<section class="article-template__section--inner" id="{{ block.settings.section_id }}">
  <figure>
    <blockquote>
      {{ block.settings.section_quote }}
    </blockquote>
    <figcaption class="article-template__quote-author">{{ block.settings.section_quote_author }}</figcaption>
  </figure>
</section>
